/*! Nav Bar*/
div.navBar {
    input[type=checkbox] {
        position: absolute;
        display: none;
        &:checked ~ nav {
            height: auto;
            overflow: hidden;
        }
    }
    label {
        display: block;
        background: url(../images/hamburger-menu.png)no-repeat right center;
        text-indent: -999em;
        height: 56px;
        cursor: pointer;
        @include browsers; // include mixin browsers
        user-select: none;
        position: relative;
        top: 2px;
        right: 8px;
        @include break(500px) { display: none; }
    }
    
    nav {
        height: 0;
        overflow: hidden;
        @include break(500px) {
            height: 100%;
            overflow: visible;
        }
        ul{
            margin-top: 2rem;
            li {
                text-align: center;
                @include linx($text-color, $text-color, $text-color);
                &:hover {
                    background-color: rgba(255,255, 255, .5);
                }
                a { 
                    font-weight: bold;
                    display: block;
                    padding: 12px 10px;
                    text-transform: uppercase;
                }
            } 
            @include break(500px) {
                display: flex;
                justify-content: space-around;
                li {
                    a {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        width: 110px;
                    }
                }
            }
        }
    }
} 